button{
    background-color: #6278F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat';
    padding: 28px 29px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    transition: .2s ease;
    cursor: pointer;
}

button:hover{
    color: #95FFD4;
}