.text-field{
    margin: 24px 0;
}

.text-field label{
    display: block;
    margin-bottom: 8px;
    font-style: 18px;
    font-weight: 700;
}

.text-field input::placeholder{
    color: #A4A4A4;
}

.text-field input{
    font-size: 16px;
    color: #000;
    background-color: white;
    padding: 30px 0 30px 21px;
    width: 100%;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}